set default=0
set timeout=5

# Video drivers for UEFI GOP, UGA, and hypervisors
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod all_video

# Font and graphics terminal
insmod font
if loadfont /boot/grub/unicode.pf2 ; then
    set gfxmode=1024x768,800x600,auto
    set gfxpayload=keep
    insmod gfxterm
    insmod gfxmenu
    insmod png
fi

terminal_output gfxterm

# Source theme
source /boot/grub/theme.cfg
